*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: rgb(247, 161, 130);
}
.container{
	height: 300px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 30px;
	background-color: #fff;
	text-align: center;
}

.box{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100px;
}

input{
	width:300px;
	height:60px;
}
